<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- !namespace : 해당 mapper파일의 고유한 별칭 -->
<mapper namespace="memberMapper">
    <!--    <resultMap id="memberResultSet" type="Member">-->
    <!--        &lt;!&ndash;        <result column="테이블 컬럼명" property="객체의 필드"/>&ndash;&gt;-->
    <!--        <result column="user_ID" property="userId"/>-->
    <!--        <result column="USER_PWD" property="userPwd"/>-->
    <!--        <result column="USER_NAME" property="userName"/>-->
    <!--        <result column="EMAIL" property="email"/>-->
    <!--        <result column="AGE" property="age"/>-->
    <!--        <result column="GENDER" property="gender"/>-->
    <!--        <result column="PHONE" property="phone"/>-->
    <!--        <result column="ADDRESS" property="address"/>-->
    <!--        <result column="ENROLL_DATE" property="enrollDate"/>-->
    <!--        <result column="MODIFY_DATE" property="modifyDate"/>-->
    <!--        <result column="STATUS" property="status"/>-->
    <!--    </resultMap>-->
    
   
    
    <!-- Select -->
    <select id="loginMember" parameterType="Member" resultType="Member">
        select MEM_NO as memNo,
            MEM_EMAIL as memEmail,
            MEM_PWD as memPwd,
            MEM_NAME as memName,
            MEM_ZIPCODE as memZipcode,
            MEM_ADD as memAdd,
            MEM_GENDER as memGender,
            MEM_PHONE as memPhone,
            MEM_STATUS as memStatus,
            MEM_RANK as memRank,
            MEM_ENROLL_DATE as memEnrollDate,
            MEM_BIRTH as memBirth
        from member
        where MEM_EMAIL = #{memEmail}
            and MEM_STATUS in('Y','M','A')
    </select>
    <select id="selectEmail" parameterType="String" resultType="_int">
        select count(*)
        from MEMBER
        WHERE MEM_EMAIL = #{email}
    </select>
    <insert id="insertMember" parameterType="Member" useGeneratedKeys="true" keyProperty="memNo">
        INSERT INTO MEMBER(
        MEM_EMAIL,
        MEM_PWD,
        MEM_NAME,
        MEM_GENDER,
        MEM_ZIPCODE,
        MEM_ADD,
        MEM_BIRTH,
        MEM_PHONE,
        MEM_STATUS)
        VALUES(
        #{memEmail},
        #{memPwd},
        #{memName},
        #{memGender},
        #{memZipcode},
        #{memAdd},
        #{memBirth},
        #{memPhone},
        #{memStatus}
        )
    </insert>
<!--    <insert id="insertProfile" parameterType="Profile">-->
<!--        INSERT into PROFILE_FILE(-->
<!--        <if test="memNo > 0">-->
<!--            mem_no,-->
<!--        </if>-->
<!--        <if test="teamNo > 0">-->
<!--            team_no,-->
<!--        </if>-->
<!--        ORIGIN_NAME,-->
<!--        CHANGE_NAME,-->
<!--        FILE_PATH-->
<!--        )-->
<!--        values(-->
<!--        <if test="memNo > 0">-->
<!--            #{memNo},-->
<!--        </if>-->
<!--        <if test="teamNo > 0">-->
<!--            #{teamNo},-->
<!--        </if>-->
<!--        #{originName},-->
<!--        #{changeName},-->
<!--        #{filePath}-->
<!--        )-->
<!--    </insert>-->
    <insert id="insertCategory" parameterType="Category">
        insert into category(
        <trim suffixOverrides=",">
            MEM_NO,
            <if test="socPosition != null">SOC_POSI,</if>
            <if test="socSkill != null">SOC_ABILITY,</if>
            <if test="futPosition != null">FOOT_POSI,</if>
            <if test="futSkill != null">FOOT_ABILITY,</if>
            <if test="basketPosition != null">BASKET_POSI,</if>
            <if test="basketSkill != null">BASKET_ABILITY,</if>
            <if test="basePosition != null">BASE_POSI,</if>
            <if test="baseSkill != null">BASE_ABILITY</if>
        </trim>
        ) values(
        <trim suffixOverrides=",">
            #{memNo},
            <if test="socPosition != null">#{socPosition},</if>
            <if test="socSkill != null">#{socSkill},</if>
            <if test="futPosition != null">#{futPosition},</if>
            <if test="futSkill != null">#{futSkill},</if>
            <if test="basketPosition != null">#{basketPosition},</if>
            <if test="basketSkill != null">#{basketSkill},</if>
            <if test="basePosition != null">#{basePosition},</if>
            <if test="baseSkill != null">#{baseSkill}</if>
        </trim>
        )
    </insert>
    <select id="selectLog" parameterType="LoginLog" resultType="LoginLog">
        select MEM_NO as memNo,
            LOGIN_DATE AS loginLog
        from login_log
        where MEM_NO = #{memNo} AND DATE_FORMAT(LOGIN_DATE, '%Y/%m/%d') = DATE_FORMAT(SYSDATE(), '%Y/%m/%d')
    </select>
    <insert id="insertLog" parameterType="LoginLog">
    	insert into login_log(
    	MEM_NO,
    	LOGIN_DATE
    	)
    	VALUES(
    	#{memNo},
    	SYSDATE()
    	)
    </insert>
    
    <!-- 마이페이지 -->
    <!-- 내 정보 -->
     <select id="selectMyInfo" resultType="MemberPosition">
        SELECT MEM_NO as memNo,
        	   MEM_NAME as memName,
        	   MEM_ADD as memAdd,
        	   MEM_GENDER as memGender,
        	   MEM_RANK as memRank,
        	   MEM_BIRTH as memBirth,
           		TIMESTAMPDIFF(YEAR, MEM_BIRTH, CURDATE()) as memAge
        FROM MEMBER
        WHERE MEM_NO = #{memNo}
    </select>
    
    <!-- 내 구단 -->
   <select id="selectMyTeam" resultType="Team">
	    SELECT 
	        T.TEAM_NO as teamNo,
	        T.TEAM_NAME as teamName,
	        T.TEAM_MAX_PERSON as teamMaxPerson,
	        T.SCORE as score,
	        T.TEAM_POINT as teamPoint,
	        T.TEAM_ENROLL_DATE as teamEnrollDate,
	        TM.MEM_NO as memNo,
	        T.TEAM_TYPE as teamType,
	        M.MEM_NAME as memName,
	        (SELECT COUNT(*) FROM TEAM_MEMBER TM2 WHERE TM2.TEAM_NO = T.TEAM_NO) as teamMemberCount
	    FROM TEAM T
	    JOIN TEAM_MEMBER TM ON T.TEAM_NO = TM.TEAM_NO
	    JOIN MEMBER M ON T.MEM_NO = M.MEM_NO
	    WHERE TM.MEM_NO = #{memNo};
	</select>
    
    <!-- 내 구단 입단 명단자 -->
    <!-- 해당 종목의 레벨과 포지션 가지고 있어야 조회가능 -->
    <select id="selectMyRecruit" resultType="Recruit">
	    SELECT 
	        R.MEM_NO as memNo,
	        R.INTRODUCE as introduce,
	        T.TEAM_NAME as teamName,
	        T.TEAM_NO as teamNo,
	        M.MEM_NAME as memName,  <!-- MEMBER 테이블에서 MEM_NAME을 추가 -->
	        M.MEM_BIRTH as memBirth,
	        M.MEM_GENDER as memGender,
	        M.MEM_RANK as memRank,
	        TIMESTAMPDIFF(YEAR, M.MEM_BIRTH, CURDATE()) as memAge,
	        CASE 
	               WHEN T.TEAM_TYPE = '축구' THEN c.SOC_POSI
	               WHEN T.TEAM_TYPE = '농구' THEN c.BASKET_POSI
	               WHEN T.TEAM_TYPE = '풋살' THEN c.FOOT_POSI
	               WHEN T.TEAM_TYPE = '야구' THEN c.BASE_POSI
	           END AS position,
	           CASE 
	               WHEN T.TEAM_TYPE = '축구' THEN c.SOC_ABILITY
	               WHEN T.TEAM_TYPE = '농구' THEN c.BASKET_ABILITY
	               WHEN T.TEAM_TYPE = '풋살' THEN c.FOOT_ABILITY
	               WHEN T.TEAM_TYPE = '야구' THEN c.BASE_ABILITY
	           END AS ability
	    FROM TEAM T
	    JOIN RECRUIT R ON T.TEAM_NO = R.TEAM_NO
	    JOIN MEMBER M ON R.MEM_NO = M.MEM_NO  <!-- RECRUIT와 MEMBER 테이블을 MEM_NO를 기준으로 JOIN -->
	    JOIN CATEGORY c ON M.MEM_NO = c.MEM_NO 
	    WHERE T.MEM_NO = #{memNo};
	</select>
    
    <!-- 내 전적 -->
    <select id="selectMyMatch" resultType="Match">
	    SELECT DISTINCT
		    M.SCORE_A AS scoreA,
		    M.SCORE_B AS scoreB,
		    M.PLACE_NO AS placeNo,
		    M.MATCH_NO AS matchNo,
		    A.TEAM_NAME AS teamAName,
		    B.TEAM_NAME AS teamBName,
		    M.TEAM_A_NO AS teamANo,
		    M.TEAM_B_NO AS teamBNo
		FROM `MATCH` M
		JOIN TEAM A ON M.TEAM_A_NO = A.TEAM_NO
		JOIN TEAM B ON M.TEAM_B_NO = B.TEAM_NO
		JOIN TEAM_MEMBER TA ON M.TEAM_A_NO = TA.TEAM_NO
		JOIN TEAM_MEMBER TB ON M.TEAM_B_NO = TB.TEAM_NO
		WHERE (TA.MEM_NO = #{memNo} OR TB.MEM_NO = #{memNo});
	</select>
	
	<!-- 내 전적 판 수 -->
	<select id="selectMyMatchCount" resultType="_int">
		SELECT COUNT(*)
		FROM (
		    SELECT DISTINCT
		        M.SCORE_A AS scoreA,
		        M.SCORE_B AS scoreB,
		        A.TEAM_NAME AS teamAName,
		        B.TEAM_NAME AS teamBName
		    FROM `MATCH` M
		    JOIN TEAM A ON M.TEAM_A_NO = A.TEAM_NO
		    JOIN TEAM B ON M.TEAM_B_NO = B.TEAM_NO
		    JOIN TEAM_MEMBER TA ON M.TEAM_A_NO = TA.TEAM_NO
		    JOIN TEAM_MEMBER TB ON M.TEAM_B_NO = TB.TEAM_NO
		    WHERE (TA.MEM_NO = #{memNo} OR TB.MEM_NO = #{memNo})
		) AS match_count;
	</select>
	
	<!-- 내 전적 이긴 횟수 -->
	<select id="selectMyMatchWinCount" resultType="_int">
		SELECT COUNT(*)
		FROM (
		    SELECT DISTINCT M.MATCH_NO
		    FROM `MATCH` M
		    JOIN TEAM A ON M.TEAM_A_NO = A.TEAM_NO
		    JOIN TEAM B ON M.TEAM_B_NO = B.TEAM_NO
		    JOIN TEAM_MEMBER TA ON M.TEAM_A_NO = TA.TEAM_NO
		    JOIN TEAM_MEMBER TB ON M.TEAM_B_NO = TB.TEAM_NO
		    WHERE (TA.MEM_NO = #{memNo} AND M.SCORE_A > M.SCORE_B)
		       OR (TB.MEM_NO = #{memNo} AND M.SCORE_B > M.SCORE_A)
		) AS higher_score_matches;
	</select>
    
    <!-- a팀 정보  #{teamANo} -->
    <select id="selectTeamInfo" resultType="MemberPosition">
	    SELECT 
		    m.MEM_NO as memNo, 
		    m.MEM_NAME as memName,
		    CASE 
		        WHEN t.TEAM_TYPE = '축구' THEN c.SOC_POSI
		        WHEN t.TEAM_TYPE = '풋살' THEN c.FOOT_POSI
		        WHEN t.TEAM_TYPE = '농구' THEN c.BASKET_POSI
		        WHEN t.TEAM_TYPE = '야구' THEN c.BASE_POSI
		        ELSE '포지션 없음'
		    END AS position
		FROM 
		    MEMBER m
		JOIN 
		    TEAM_MEMBER tm ON m.MEM_NO = tm.MEM_NO
		JOIN 
		    TEAM t ON tm.TEAM_NO = t.TEAM_NO
		LEFT JOIN 
		    CATEGORY c ON m.MEM_NO = c.MEM_NO
		WHERE 
		    tm.TEAM_NO = #{teamNo};
    </select>
    
</mapper>