<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <setting name="jdbcTypeForNull" value="NULL"/>
        <setting name="logImpl" value="LOG4J"/>
    </settings>

    <typeAliases>
        <!-- common -->

        <!-- Member -->
        <typeAlias type="com.kh.sportsmate.member.model.dto.MemberPosition" alias="MemberPosition"/>
<!--        <typeAlias type="com.kh.sportsmate.place.model.vo.PlaceReview" alias="PlaceReview"/>-->
        <typeAlias type="com.kh.sportsmate.board.model.vo.BoardComment" alias="BoardComment"/>
        <typeAlias type="com.kh.sportsmate.member.model.vo.Member" alias="Member"/>
        <typeAlias type="com.kh.sportsmate.member.model.vo.Category" alias="Category"/>
        <!-- Team -->
        <typeAlias type="com.kh.sportsmate.team.model.vo.Team" alias="Team"/>
        <typeAlias type="com.kh.sportsmate.team.model.vo.TeamBoard" alias="TeamBoard"/>
        <typeAlias type="com.kh.sportsmate.team.model.vo.TeamMember" alias="TeamMember"/>
        <typeAlias type="com.kh.sportsmate.place.model.vo.PlaceReview" alias="PlaceReview"/>
        <typeAlias type="com.kh.sportsmate.team.model.vo.TeamBoardComment" alias="TeamBoardComment"/>
        <typeAlias type="com.kh.sportsmate.team.model.vo.Recruit" alias="Recruit"/>
        <typeAlias type="com.kh.sportsmate.team.model.vo.TeamActivityDays" alias="TeamActivityDays"/>
        <!-- Match -->
        <typeAlias type="com.kh.sportsmate.match.model.vo.Match" alias="Match"/>

        <!-- Board -->
        <typeAlias type="com.kh.sportsmate.board.model.vo.Board" alias="Board"/>

    	<typeAlias type="com.kh.sportsmate.board.model.vo.BoardComment" alias="BoardComment"/>
    	<typeAlias type="com.kh.sportsmate.member.model.vo.Member" alias="Member"/>
        <typeAlias type="com.kh.sportsmate.member.model.vo.Category" alias="Category"/>
        <typeAlias type="com.kh.sportsmate.member.model.vo.Category" alias="LoginLog"/>
        <typeAlias type="com.kh.sportsmate.admin.model.dto.ChartDateDto" alias="ChartDateDto"/>
        <typeAlias type="com.kh.sportsmate.admin.model.vo.MemberPenalty" alias="MemberPenalty"/>
        <!-- Attachment -->
        <typeAlias type="com.kh.sportsmate.Attachment.model.vo.Profile" alias="Profile"/>
        <!-- Stadium -->
        <typeAlias type="com.kh.sportsmate.stadium.model.vo.Stadium" alias="Stadium"/>
        <typeAlias type="com.kh.sportsmate.stadium.model.vo.Amenities" alias="Amenities"/>
        <typeAlias type="com.kh.sportsmate.stadium.model.vo.Rental" alias="Rental"/>
    </typeAliases>


    <mappers>
        <mapper resource="mappers/board-mapper.xml"/>
        <mapper resource="mappers/team-mapper.xml"/>
        <mapper resource="mappers/member-mapper.xml"/>
        <mapper resource="mappers/admin-mapper.xml"/>
        <mapper resource="mappers/place-mapper.xml"/>
        <mapper resource="mappers/match-mapper.xml"/>
        <mapper resource="mappers/stadium-mapper.xml"/>
        <mapper resource="mappers/attachment-mapper.xml"/>
    </mappers>


</configuration>